# Supabase Configuration
VITE_SUPABASE_URL=https://dkfgaocprpqaesxizoys.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrZmdhb2NwcnBxYWVzeGl6b3lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MjMwNjcsImV4cCI6MjA5MzM5OTA2N30.cb9BsZQCemiW8OqMrH0w2iO8bhonKDSeFQ-pyNDX2Aw

# Gemini API Key
GEMINI_API_KEY=your_gemini_api_key
